<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Players</th>
  </tr>
  <% teams.each do |team| %>
    <%= div_for team do |t| %>
      <tr>
        <td><%= link_to t.name, t %></td>
        <td><%= t.wins %></td>
        <td><%= t.losses %></td>
        <td><%= t.players.count %></td>
      </tr>
    <% end %>
  <% end %>
</table>
