<h3>Results</h3>
<% rounds.each do |r| %>
  <% if round_of(r) == 8 %>
    <h3><small>Quarter Finals</small></h3>
  <% elsif round_of(r) == 4 %>
    <h3><small>Semi Finals</small></h3>
  <% elsif round_of(r) == 2 %>
    <h3><small>Finals</small></h3>
  <% else %>
    <h4><small>Round of <%= round_of(r) %></small></h4>
  <% end %>
  <%= render partial: 'rounds/walk_overs', locals: { round: r } %>
  <table class="table table-striped table-bordered">
    <% r.matches.each do |m| %>
      <tr>
        <% if m.p1.id == m.winner %>
          <td><strong><%= link_to m.p1.username, m.p1 %></strong></td>
          <td><%= link_to m.p2.username, m.p2 %></td>
        <% else %>
          <td><%= link_to m.p1.username, m.p1 %></td>
          <td><strong><%= link_to m.p2.username, m.p2 %></strong></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
