<div class="container">
  <h1 class="page-header"><%= @tournament.name %> <small><%= number_to_currency @tournament.prize_pool %></small></h1>
    <% unless already_entered? @tournament, @current_user.team %>
      <div class="col-md-6">
          <%= simple_form_for @tournament, url: join_tournament_path, class: 'form-inline' do |f| %>
            <%= f.input :players, collection: @current_user.team.players, label_method: :username, include_blank: false %>
            <%= f.submit 'Join', class: 'btn btn-primary' %>
          <% end %>
      </div>
    <% end %>
    <div class="clearfix"></div>
    <br>
    <h3>Registered Players: <%= @players.count %></h3>
    <div class="">
      <%= render partial: 'players/list', locals: { players: @players } %>
    </div>
</div>
