<tr>
  <td><%= p.race %></td>
  <td><%= p.wins %></td>
  <td><%= p.losses %></td>
  <% if !@player.team || @current_user.team == p.team %><td><%= p.salary %></td><% end %>
  <td><%= p.age %></td>
</tr>
