<div class="container">
  <h2 class="page-header"><%= @player.username.titleize %>
    <small>
      <% if @player.team %>
        <%= @player.team.name %>
      <% end %>
    </small>
  </h2>
  <table class="table table-striped table-bordered">
    <h4>Stats</h4>
    <tr>
      <th>Race</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Salary</th>
      <th>Age</th>
    </tr>
    <%= render partial: 'players/profile_table', locals: { p: @player } %>
  </table>

  <table class="table table-striped table-bordered">
    <h4>Abilities</h4>
    <tr>
      <th>Talent</th>
      <th>Macro</th>
      <th>Micro</th>
      <th>vT</th>
      <th>vZ</th>
      <th>vP</th>
    </tr>
    <tr>
      <td><%= @player.statistic.talent_grade %></td>
      <td><%= @player.statistic.macro_grade %></td>
      <td><%= @player.statistic.micro_grade %></td>
      <td><%= @player.statistic.vt_grade %></td>
      <td><%= @player.statistic.vz_grade %></td>
      <td><%= @player.statistic.vp_grade %></td>
    </tr>
  </table>

  <% unless @player.team %>
    <%= link_to draft_player_path, method: :post do %>
      <button class="btn btn-primary" type="button" name="button">Draft</button>
    <% end %>
  <% end %>
</div>
