<!DOCTYPE html>
<html>
<head>
  <title>RTS Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/nav' %>

  <div id="alerts">
    <%= render 'layouts/alerts' %>
  </div>

  <div id="main-content">
    <%= yield %>
  </div>

</body>
</html>
